@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

#inicio {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("/assets/img/imagen\ _de_fondo.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: #ff5000;
}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul a:hover {
    color: #ff5080;
}
#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}
#inicio .contenido header .contenido-header .redes a:hover {
    color: #ff5080;
}
#inicio .contenido header .contenido-header .seleccionado {
    color: #ff5080;
}
#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#inicio .contenido .presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
#inicio .contenido .presentacion h2 {
font-size: 45px;
margin-bottom: 25px;
text-align: center;
}
#inicio .contenido .presentacion h2 span {
    font-size: 55px;
    color: #ff5000;
}
#inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}
#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}
#inicio .contenido .presentacion a:hover {
    background-color: #ff5080;
}
#icon-nav {
    color: #fff;
    display: none;
}
/* seccion about me */
#aboutMe {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}
#aboutMe .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
}
#aboutMe .contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;
}
#aboutMe .aboutMe {
    margin: 0 40px;
}
#aboutMe .aboutMe .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#aboutMe .aboutMe h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}
#aboutMe .aboutMe h2 span {
    color: #ff5000;
}
#aboutMe .aboutMe h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#aboutMe .aboutMe p {
    font-size: 14px;
    line-height: 25px;
    color: 565656;
    margin-bottom: 12px;
}
#aboutMe .aboutMe a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}
#aboutMe .aboutMe a:hover {
    background-color: #ff5080;
    color:#fff;
}
/* SECCION SERVICIOS */
#services {
    padding: 100px 15px;
    text-align: center;
    background-color: #f3f3f3;
}
#services .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#services .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto;
}
#services .fila .services {
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
}
#services .fila .services:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}
#services .fila .services h4 {
    font-size: 22px;
    margin-bottom: 25px;
}
#services .fila .services .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}
#services .fila .services hr {
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}
#services .fila .services ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#services .fila .services p {
    font-size: 14px;
    line-height: 22px;
}
/* SECCION SKILLS */
.contenedor-skills {
    background: linear-gradient(#eb5a5acc, rgba(33,16,16,.8)), url(/assets/img/imagen\ _de_fondo.jpg);
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}
.contenedor-skills .skill {
    max-width: 600px;
    margin: 30px auto;
}
.contenedor-skills .skill .info {
    font-size: 45px;
    justify-content: center; 
    color: #fff;
}
#skills h3 {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
/* SECCION PORTAFOLIO */
#portfolio {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}
#portfolio .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}#portfolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
#portfolio .fila .proyecto {
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}
#portfolio .fila .proyecto img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}
#portfolio .fila .proyecto:hover img {
    filter: grayscale(0);
}
#portfolio .fila .proyecto .info {
    position: absolute;
    left: 0;
    background-color: rgba(0,0,0,.8);
    color: #ff5080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}
#portfolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}
/* SECCION CONTACTO */
#contac {
    padding: 100px 15px;
}
#contac .titulo-seccion {
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#contac .contenedor-form {
    max-width: 1100px;
    margin: auto;
}
#contac .contenedor-form .fila {
    margin-bottom: 15px;
}
#contac .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}
#contac .contenedor-form input,
#contac .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}
#contac .contenedor-form .mitad input {
    width: 48%;
}
#contac .contenedor-form .input-full {
    width: 100%;
}
#contac .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
}
#contac .btn-enviar:hover {
    background-color: #ff5080;
    color: #fff;
}
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}
/* SECCION RESPONSIVE */
@media screen and (max-width:800px){
    .redes{
        display: none;
    }
    nav {
        display: none;
    }
    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li {
        margin: 5px 0;
    }
    #icono-nav {
        display: block;
    }
    #inicio .contenido .presentacion h2 {
        font-size: 40px;
    }
    #aboutMe{
        padding: 50px 0;
        display: block;
    }
    #aboutMe .contenedor-foto {
        max-width: 200px;
        margin: auto;
    }
    #aboutMe .contenedor-foto img {
        padding: 8px;
    }
    #aboutMe .aboutMe .titulo-seccion {
        text-align: center;
    }
    #aboutMe .aboutMe h2 {
        font-size: 25px;
        text-align: center;
    }
    #services {
        padding: 50px 15px;
    }
    #services .fila {
        display: block;
    }
    #services .fila .services {
        margin: 10px auto;
    }
    .contenerdor-skills {
        padding: 50px 20px;
    }
    #portfolio {
        padding: 50px 0;
    }
    #portfolio .fila {
        display: block;
    }
    #portfolio .fila .proyecto {
        margin: 10px auto;
    }
    #contac {
        padding: 50px 15px;
    }
    #contac .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }
    #contac .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
}